body {
	margin: 0;
	padding: 0;
	background-color: #e9e9e9;
}
main {
	position: absolute;
	width: 100%;
	height: 100%;
}
#game {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: #fff;
	border: 2px solid #d0d0d0;
	box-shadow: 0 0 100px 0 #d0d0d0;
}